node_modules/
.expo/
.expo-shared/
dist/
build/
android/
ios/

# allow google-services.json to be tracked even though android/ is ignored
!android/
!android/app/
!android/app/google-services.json

!android/

!android/app/

!android/app/google-services.json
